h1{
    color: black;
    font-size: 2em;
    text-align: left;
    text-decoration: wavy underline;
}
ol{
    color: black;
    font-size: 1em;
    text-align: left;
    
}
.video{
    display: flex;
    justify-content: right;
    align-items: right;
    height: 100vh;
}
.center-img{
    display: flex;
    justify-content: center;
    align-items: center;
  }
h2{
    color: black;
    font-size: 1.5em;
    text-align: center;
    
}
h4{
    color: black;
    font-size: 1em;
    text-align: center;
    
}
.tableau-wrapper {
    display: flex;
    justify-content: center;   /* center horizontally */
    align-items: center;       /* center vertically */
    height: 100vh;             /* optional: full screen */
  }